@blue: #73c8d8;
@red: #f77a69;
@green: #9fc44a;
@orange: #fda34e;

.fs-insane {
  font-size: 11.07rem;
}

.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.fw-medium {
  font-weight: 500;
}

.fc-orange {
  color: @orange;
}

.h\:bg-orange:hover {
  background-color: @orange;
}

.fc-green {
  color: @green;
}

.h\:bg-green:hover {
  background-color: @green;
}

.fc-blue {
  color: @blue;
}

.h\:bg-blue:hover {
  background-color: @blue;
}

.fc-red {
  color: @red;
}

.h\:bg-red:hover {
  background-color: @red;
}