@blue: #bcebf4;
@red: #faaf98;
@yellow: #fbe5a2;
@green: #cde19f;
@background: #fafafa;
@margin: 60px;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  padding: 14% 0;
  font-family: "minion-pro", Georgia, serif;
  line-height: 1.8;
  font-size: 1em;
  color: #444;
  background-color: @background;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga", "dlig";

  @media (max-width: 810px) {
    padding: 6% 0;
  }
}

a {
	color: inherit;
	text-decoration: none;
  box-shadow: inset 0 -0.2em 0 @background, inset 0 -0.4em 0 @blue;

  &:hover {
    background-color: @blue;
  }

  &.footnote {
    font-size: .625em;
    vertical-align: super;
  }

  &.hum-link {
    box-shadow: inset 0 -0.2em 0 @background, inset 0 -0.4em 0 @green;

    &:hover {
      background-color: @green;
    }
  }

  &.usualthings-link {
    box-shadow: inset 0 -0.2em 0 @background, inset 0 -0.4em 0 @yellow;

    &:hover {
      background-color: @yellow;
    }
  }

  &.adobe-link {
    box-shadow: inset 0 -0.2em 0 @background, inset 0 -0.4em 0 @red;

    &:hover {
      background-color: @red;
    }
  }
}

::selection {
  background: #d8d8d8;
}

::-moz-selection {
  background: #d8d8d8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1em;
  margin-left: -.05em;
  color: #333;

  a {
    box-shadow: none;

    &:hover {
      box-shadow: inset 0 -0.2em 0 @background, inset 0 -0.4em 0 @blue;
      background-color: transparent;
    }
  }
}

h1 {
  font-size: 4.75em;
  margin-bottom: .25em;
}

h2 {
  font-size: 4em;
  margin-bottom: 0;
}

h3 {
  font-size: 2.375em;
  margin-bottom: @margin;
}

p + h3,
ol + h3,
ul + h3,
.image + h3 {
  margin-top: @margin * 2;
}

h4 {
	font-size: 1.8em;
	margin-bottom: 30px
}

h5 {
  font-size: 1.1em;
  margin-top: -1em;
}

p {
  font-size: 1.4em;
  margin-bottom: @margin;
}

ul,
ol {
  font-size: 1.4em;
  margin-left: 1em;
  margin-bottom: @margin;

  li {
    margin-bottom: 1em;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

.intro {
  font-size: 1.8em;
  margin-bottom: 5em;
}

.meta {
  font-size: 1.25em;
  font-style: italic;
  color: #bdbdbd;
}

.container {
  margin-left: 14%;
  max-width: 596px;

  @media (max-width: 810px) {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
  }
}

.highlight {
  font-family: monospace;
  background: #e9e9e9;
  padding: .2em .3em;
  border-radius: 4px;
}

.update {
  color: #9b9b9b;
  font-style: italic;
}

.elsewhere {
  margin-left: 0;
  margin-bottom: 0;
  font-size: 1.25em;

  li {
    display: inline;
    margin-right: .7em;
  }
}

hr {
	border: 0;
  max-width: 250px;
	color: #808080;
	background-color: #808080;
	height: 2px;
	margin-top: @margin * 4;
  margin-bottom: @margin * 4;
  margin-left: 0;
}

.summary {
  font-style: italic;
  color: #9b9b9b;
}

.divider {
  text-align: center;
  font-size: 2.5em;
  font-style: normal;
  margin: 2em auto 3.2em;
}

.image {
  padding-left: 14%;
  padding-right: 14%;
  margin-top: @margin * 2;
  margin-bottom: @margin * 2;
  text-align: left;

  img {
    display: inline-block;
    max-width: 100%;
    margin-bottom: @margin;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // &.full-width {
  //   width: 95%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }

  @media (max-width: 810px) {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }

  &.background {
    background-color: #efefef;
    padding-top: @margin;
    padding-bottom: @margin;

    @media (max-width: 810px) {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;
    }
  }

  &.rounded img {
    border-radius: 3px;
  }
}

svg {
  margin-bottom: @margin;
}

.caption {
  margin: 0 auto;
  max-width: 350px;
  font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
}

blockquote {
  display: block;
  color: #636363;
  font-style: oblique;
  font-size: 2.8em;
  line-height: 1em;
  margin-top: @margin * 2;
  margin-bottom: @margin * 2;

  &.medium {
    font-size: 1.8em;
  }

  &.long {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    font-weight: 300;
    margin-top: @margin * 2;
    margin-bottom: @margin * 2;
    line-height: 1.6;

    p {
      margin-bottom: @margin;
    }
  }
}

.browser {
	margin: 5em auto;
	width: 90%;
	max-width: 800px;

  img {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.site-embed {
	width: 100%;
	height: 0;
	padding-top: 60.681034%;
	position: relative;
	overflow: hidden;
	overflow-y: scroll;

  img {
    margin: 0;
  	width: 100%;
  	max-width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  }
}

.player {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: @margin * 2;
  margin-bottom: @margin * 2;

  iframe {
    position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }
}

.annotated {
  position: relative;

  .annotation {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: pulse 1.75s infinite ease-in-out;
    background-color: rgba(241, 131, 43, .75);
    box-shadow: 0 0 0 0 rgba(241, 131, 43, .5);
    cursor: pointer;

    .description {
      z-index: 1000;
      position: absolute;
      bottom: 30px;
      left: -2px;
      white-space: nowrap;
      padding: 2px 8px;
      border-radius: 4px;
      background: rgba(0,0,0,.7);
      color: #fff;
      font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      display: none;

      &:after {
        border-left: solid transparent 6px;
        border-right: solid transparent 6px;
        border-top: solid rgba(0,0,0,.7) 6px;
        bottom: -6px;
        content: " ";
        height: 0;
        left: 6px;
        position: absolute;
        width: 0;
      }

      &.right {
        left: auto;
        right: -2px;

        &:after {
          left: auto;
          right: 6px;
        }
      }
    }

    &:hover {
      animation: none;
      background-color: rgba(241, 131, 43, 1);

      .description {
        display: block;
      }
    }

    @media (max-width: 810px) {
      display: none;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(.9, .9);
  }
  70% {
    transform: scale(1, 1);
    box-shadow: 0 0 0 50px rgba(241, 131, 43, 0);
  }
  100% {
    transform: scale(.9, .9);
    box-shadow: 0 0 0 0 rgba(241, 131, 43, 0);
  }
}
