@import "tailwindcss";
@plugin "@tailwindcss/typography";

@view-transition {
  navigation: auto;
}

@font-face {
	font-family: "Roobert";
	src: url("../fonts/RoobertPRO-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Family";
	font-display: swap;
	src: url("../fonts/family-light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-optical-sizing: auto;
}

@font-face {
	font-family: "Family";
	font-display: swap;
	src: url("../fonts/family-light-italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-optical-sizing: auto;
}


@theme {
	--font-sans: "Roobert", ui-sans-serif, system-ui, sans-serif;
	--font-serif: "Family", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
