@import "tailwindcss";

@font-face {
	font-family: "Roobert";
	src: url("../fonts/RoobertPRO-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roobert";
	src: url("../fonts/RoobertPRO-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roobert";
	src: url("../fonts/RoobertPRO-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roobert";
	src: url("../fonts/RoobertPRO-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: "Roobert", ui-sans-serif, system-ui, sans-serif;
}
